.delete-product-icon{
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.edit-product-icon{
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 5px;
    cursor: pointer;
}.edit-product-icon:hover{
    color: darkblue !important;
 }
.delete-product-icon:hover{
    color: darkred !important;
}

.products{
    width: min(100%, 600px);
}
.product-view{
    width: min(100%, 650px);
}
.edit-delete-section{
    position: relative;
}
.product-form{
    width: min(100%, 650px);
    margin: auto;
}
.three-pair-input {
    width: 30%;
}

/*.something{*/
/*    height: 200px;*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    width: 400px;*/
/*}*/
.arrow-right{
    background-color: #f26405;
    /*box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);*/
    height: 100px;
    left: -60px;
    position: absolute;
    top: -60px;
    width: 100px;

    -webkit-transform: rotate(-45deg);
}

.arrow-right span {
    color: #f5f5f5;
    font-family: sans-serif;
    font-size: 0.7em;
    left: 32px;
    top: 80px;
    position: absolute;
    width: 80px;
    font-weight: bold;
    text-transform: uppercase;
}